<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="author" content="Bryan Elizondo">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="icon" href="img/logo.svg">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">

    <title>COVID-19 Estadísticas</title>
  </head>
  <body>
    <div class="container-fluid" id="serv">
        <header class="row bg-dark p-3 text-white">
            <div class="col-sm-12 col.md-4">
              <div class="media">
                <h5 class="display-4">
                  <i class="fas fa-head-side-mask aling-self-center mr-3"></i>
                </h5>
                <div class="media-body">
                  <h4 class="mt-4">
                    Estadísticas COVID-19 en el Mundo
                    
                  </h4>

                </div>
              </div>
              
            </div> 
            <div class="col-sm-12 col-md-8">
              <div class="media">
                <div class="media-body">
                  Seleccione un pais

                  <select class="custom-select" v-model="paisCode" @change="paisseleccionado()">
                    <option v-for="pais in paisesList" 
                    :value="pais.code">{{pais.name}}
                    </option>
                  </select>
                 
                </div>
              </div>
            </div>

        </header>
        <section class="mb-1 p-1">
          <div class="row p-1">
            <!--card #1-->
              <div class="col-sm-12 col-md-4">
                <div class="card bg-primary text-center text-white">
                  <div class="card-body">
                    <h4 class="card-title display-4  mt-2">
                      <i class="fas fa-viruses"></i>
                    </h4>
                    <h5 class="card-subtitle mb-2 display-5"> 
                      <strong>
                        Contagios Confirmados
                        <br>
                        {{paisDatos.latest_data.confirmed}} total de {{paisDatos.population}} habitantes

                      </strong>
                    </h5>
                    <p class="card-text">
                      Última actualización: 
                      <br> {{paisDatos.updated_at}}
                    </p>
                  </div>
                </div>

              </div>

              <!--card #2-->
              <div class="col-sm-12 col-md-4">
                <div class="card bg-primary text-center text-white">
                  <div class="card-body">
                    <h4 class="card-title display-4  mt-2">
                      <i class="fas fa-heartbeat"></i>
                    </h4>
                    <h5 class="card-subtitle mb-2 display-5">
                      Información de Hoy <br>
                      &nbsp;<!--keep the card size-->

                    </h5>
                    <div class="row">
                      <div class="col-sm-a col md-4">
                        <strong>
                            {{paisDatos.timeline[0].new_confirmed}}
                        </strong>
                        <br>
                        Contagiados
                      </div>
                      <div class="col-sm-a col md-4">
                        <strong>
                            {{paisDatos.timeline[0].new_recovered}} 
                        </strong>
                        <br>
                        Recuperados
                      </div>
                      <div class="col-sm-a col md-4">
                        <strong>
                            {{paisDatos.timeline[0].new_deaths}}
                        </strong>
                        <br>
                        Nuevos Decesos
                      </div>

                    </div>
                  </div>
                </div>

              </div>
            <!--card #3-->
            <div class="col-sm-12 col-md-4">
              <div class="card bg-primary text-center text-white">
                <div class="card-body">
                  <h4 class="card-title display-4  mt-2">
                    <i class="fas fa-user-friends"></i>
                  </h4>
                  <h5 class="card-subtitle mb-2 display-5">
                    <strong>
                      {{paisDatos.latest_data.calculated.cases_per_million_population}} casos<br> por 1M de habitantes<br><br>
                    </strong>
                    &nbsp;<!--keep the card size-->
                  </h5>       
                </div>
              </div>

            </div>

          </div>
          <div class="row p-1">
            <div class="col-sm-6 col-md-3">
              <div class="card bg-dark text-center text-white">
                <div class="card-body">
                  <h4 class="card-title display-4 mt-2">
                    <i class="fas fa-hospital-user"></i>
                  </h4>
                  <h5 class="card-subtitle mb-2 display-5">
                    <strong>
                        Hospitalizados

                    </strong>
                  </h5>
                  <p class="card-text">
                   {{paisDatos.timeline[0].active}}
                  </p>
                </div>
              </div>
            </div>

            <div class="col-sm-6 col-md-3">
              <div class="card bg-dark text-center text-white">
                <div class="card-body">
                  <h4 class="card-title display-4 mt-2">
                    <i class="fas fa-exclamation"></i>
                  </h4>
                  <h5 class="card-subtitle mb-2 display-5">
                    <strong>
                        Casos Criticos

                    </strong>
                  </h5>
                  <p class="card-text">
                   {{paisDatos.latest_data.critical}}
                  </p>
                </div>
              </div>
            </div>

            <div class="col-sm-6 col-md-3">
              <div class="card bg-dark text-center text-white">
                <div class="card-body">
                  <h4 class="card-title display-4 mt-2">
                    <i class="fas fa-file-medical-alt"></i>
                  </h4>
                  <h5 class="card-subtitle mb-2 display-5">
                    <strong>
                        Recuperados
                    </strong>
                  </h5>
                  <p class="card-text">
                   {{paisDatos.latest_data.recovered}}, 
                   {{
                     parseFloat(
                      paisDatos.latest_data.calculated.recovery_rate).toFixed(2)

                   }}%
                  </p>
                </div>
              </div>
            </div>

            <div class="col-sm-6 col-md-3">
              <div class="card bg-dark text-center text-white">
                <div class="card-body">
                  <h4 class="card-title display-4 mt-2">
                    <i class="fas fa-cross"></i>
                  </h4>
                  <h5 class="card-subtitle mb-2 display-5">
                    <strong>
                        Decesos
                    </strong>
                  </h5>
                  <p class="card-text">
                   {{paisDatos.latest_data.deaths}}, 
                   {{
                     parseFloat(
                      paisDatos.latest_data.calculated.death_rate).toFixed(2)

                   }}%
                  </p>
                </div>
              </div>
            </div>
            

          </div>
        </section>
        <footer class="fixed-bottom bg-dark text-white p-1 text-center">
          <p class="m-0">
              COVID-19 Estadística Web - Diseño por Bryan Elizondo &copy 2020. Datos recuperados de API <a href="https://about-corona.net" target="_blank">about-corona.net</a>;
          </p>

        </footer>
        <br>
        <br>

    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/js/all.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
    <script type="text/javascript" src="js/estadisticas-vue.js"></script>

  </body>
</html>